doctype html  
html(lang='en')  
  head
    title Forgot password
    meta(charset='utf-8')
    script(src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css")
    //- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")

  body
    block content
      
      div.container
        div.row
          div.col
            h1 Forgot password
            p Skriv din email adresse, så sendes en reset email, hvis det er i databasen.
            div.forgot-message.alert.alert-success(style="display:none;") Email adresse modtaget. Hvis du har en mail i databasen sender vi en nulstillings email. Vent på det ankommer og check evt spam folder hvis det ikke dukker op.
            form#forgotPasswordForm.form-inline(onsubmit="return false;")
              div.form-group
                label.sr-only(for="email") Email address:
                input.form-control.mr-2#emailFp(type='email', name='email', placeholder="Email address")
              div.form-group.mt-1.text-center
                button#fpButton.btn.btn-success.mb-2(type='submit') Send email
    
      script.
        $('#fpButton').on('click', function() {
          $.post('/user/forgot-password', {
            email: $('#emailFp').val(),
          }, function(resp) {
            $('.forgot-message').show();
            $('#forgotPasswordForm').remove();
          });
        });